<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>

<body>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100% ">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <div id="template_header_image" style="height:120px">
                        <p style="line-height: 1.8; margin-top: 0; margin: 0;">
                        <img style="height:140px;width:100%"
                                src="https://img.mailinblue.com/4873864/images/content_library/original/{{logo}}"
                                alt="{{marca}}"
                                style="border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle; max-width: 100%; margin-left: 0; margin-right: 0;"
                                border="0"></p>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container"
                        style="background-color: #fff; border-radius: 7px;" bgcolor="#fff">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Header -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template_header"
                                        style="
                                        background-color: transparent; color:{{color}}; border-bottom: 0; font-weight: bold;
                                        line-height: 100%; vertical-align: middle; font-family: 'Helvetica Neue'
                                        ,Helvetica,Roboto,Arial,sans-serif"
                                        bgcolor="{{color}}">
                                        <tbody>
                                            <tr>
                                                <td id="header_wrapper" style="padding: 36px 48px; display: block;">
                                                    <h1 style="font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-weight: 300;
                                                        line-height: 150%; margin: 0; font-size: 25px; text-align:
                                                        center; color:{{color}};"></h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Header -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Body -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                        <tbody>
                                            <tr>
                                                <td valign="top" id="body_content"
                                                    style="background-color: #fff; border-radius: 0 0 7px 7px;"
                                                    bgcolor="#fff">
                                                    <!-- Content -->
                                                   <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="padding: 20px 0;">
                                                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                                                                style="border-collapse: collapse;">
                                                           
                                                                
                                                                <!-- Contenido principal -->
                                                                <tr>
                                                                    <td bgcolor="#ffffff" style="padding: 40px 30px;">
                                                                        <h2 style="margin: 0 0 20px; font-size: 24px; color: #333;">Notificación de stock producto {{formatData.name}}</h2>
                                                                        <p style="margin: 0; font-size: 16px; color: #333;">El producto "{{ formatData.name }}" (SKU: {{ formatData.sku }}) tiene un stock de <strong>{{ formatData.inventory_level -  formatData.inventory_warning_level  }}</strong> unidades restantes, con relacion al stock de seguridad de {{formatData.inventory_warning_level  }}</p>
                                                                    </td>
                                                                </tr>
                                                                <!-- Pie de página -->
                                                                <tr>
                                                                    <td bgcolor="#f4f4f4" style="padding: 20px 30px;">
                                                                        <p style="margin: 0; font-size: 14px; color: #666;">Este correo electrónico fue generado automáticamente. Por favor, no responder.</p>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                    <!-- End Content -->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- End Body -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center" valign="top">
                    <!-- Footer -->
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding: 0; border-radius: 6px;">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" valign="middle" id="credit" style="border-radius: 6px; border: 0; color: #666; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 12px;
                                                    line-height: 150%; text-align: center; padding: 24px 0;"
                                                    align="center">
                                                    <p style="line-height: 1.8; margin: 0;">{{marca}}, 2023.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Footer -->
                </td>
            </tr>
        </tbody>
    </table>

</body>
