<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
</head>

<body>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100% ">
        <tbody>
            <tr>
                <td align="center" valign="top">
                    <div id="template_header_image" style="height:120px">
                        <p style="line-height: 1.8; margin-top: 0; margin: 0;">
                        <img style="height:140px;width:100%"
                                src="https://img.mailinblue.com/4873864/images/content_library/original/{{logo}}"
                                alt="{{marca}}"
                                style="border: none; display: inline-block; font-size: 14px; font-weight: bold; height: auto; outline: none; text-decoration: none; text-transform: capitalize; vertical-align: middle; max-width: 100%; margin-left: 0; margin-right: 0;"
                                border="0"></p>
                    </div>
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_container"
                        style="background-color: #fff; border-radius: 7px;" bgcolor="#fff">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Header -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template_header"
                                        style="
                                        background-color: transparent; color:{{color}}; border-bottom: 0; font-weight: bold;
                                        line-height: 100%; vertical-align: middle; font-family: 'Helvetica Neue'
                                        ,Helvetica,Roboto,Arial,sans-serif"
                                        bgcolor="{{color}}">
                                        <tbody>
                                            <tr>
                                                <td id="header_wrapper" style="padding: 36px 48px; display: block;">
                                                    <h1 style="font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-weight: 300;
                                                        line-height: 150%; margin: 0; font-size: 25px; text-align:
                                                        center; color:{{color}};">Nuevo pedido: #{{order.nro_pedido}}</h1>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- End Header -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- Body -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="template_body">
                                        <tbody>
                                            <tr>
                                                <td valign="top" id="body_content"
                                                    style="background-color: #fff; border-radius: 0 0 7px 7px;"
                                                    bgcolor="#fff">
                                                    <!-- Content -->
                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding: 48px 48px 32px;">
                                                                    <div id="body_content_inner" style="color: #333; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
                                                                        font-size: 14px; line-height: 150%; text-align:
                                                                        left;" align="left">

                                                                        <p style="line-height: 1.8; margin: 0;">Has
                                                                            recibido el siguiente pedido de
                                                                            {{client.name}}:</p>

                                                                        <h2 style="color: {{color}}; display: block; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;
                                                                            font-size: 18px; font-weight: bold;
                                                                            line-height: 130%; margin: 0 0 18px;
                                                                            text-align: left;">
                                                                            <a class="link"
                                                                                href="https://eihdige.r.bh.d.sendibt3.com/tr/cl/5CFFdpWQWcf0ffYGxWzxgAInKpQrZzzgG8oZ1YiBIsc4fpFTaXv9uJNt-3lwvBHCbzxnt8x6zvHXJJWGSUdI5b93PdjCtmau6VQDZUFAzbhNqkWb9EYwsXumQaFLqAptC-jgkqpWjm0CMlqER_1Ez2ttjTZPZfb-1n9x8A8vhayBgmOpj8VxsLea2S9MWAphKI99CHZd7zQQzR1WuyaNIZwnoDqiz-GXBSclmfffQG6PGvy0_h0r6b0pLVH4izZzaI94yUZxMhAj-2FW8awj9JiiI-eCsRuApQSK40_fYvx7Vlzl7lz6YVXpcf8hyP55kwBMauWmtvdiqeortg_NGKjcRWqAkgk73g"
                                                                                style="text-decoration: none; font-weight: inherit; color: inherit;">[Pedido
                                                                                #{{order.nro_pedido}}]</a>
                                                                            ({{order.date}})
                                                                        </h2>

                                                                        <div style="margin-bottom: 40px;">
                                                                            <table class="td" cellspacing="0"
                                                                                cellpadding="6" border="1"
                                                                                style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; width: 100%; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"
                                                                                width="100%">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th class="td" scope="col"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Producto</th>
                                                                                        <th class="td" scope="col"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Cantidad</th>
                                                                                        <th class="td" scope="col"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Precio</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @each(product in products)
                                                                                    <tr class="order_item">
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; word-wrap: break-word;"
                                                                                            align="left">
                                                                                            {{product.title}}
                                                                                            @if(product.reserve)
                                                                                              Reserva para el {{product.reserve}}
                                                                                            @end
                                                                                            (#{{product.sku}}) </td>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"
                                                                                            align="left">
                                                                                            {{product.quantity}} </td>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"
                                                                                            align="left">
                                                                                            <span
                                                                                                class="woocommerce-Price-amount amount"><span
                                                                                                    class="woocommerce-Price-currencySymbol">$</span>{{product.price}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    @if(product.armed_service)
                                                                                    <tr class="order_item">
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif; word-wrap: break-word;"
                                                                                            align="left">
                                                                                            {{product.armed_service.name}}
                                                                                        </td>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"
                                                                                            align="left">
                                                                                            {{product.armed_service.quantity}}
                                                                                        </td>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; padding: 12px; text-align: left; vertical-align: middle; font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"
                                                                                            align="left">
                                                                                            <span
                                                                                                class="woocommerce-Price-amount amount"><span
                                                                                                    class="woocommerce-Price-currencySymbol">$</span>{{product.armed_service.price}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    @end
                                                                                    @end
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <th class="td" scope="row"
                                                                                            colspan="2"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left; border-top-width: 4px;"
                                                                                            align="left">Subtotal:</th>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left; border-top-width: 4px;"
                                                                                            align="left"><span
                                                                                                class="woocommerce-Price-amount amount"><span
                                                                                                    class="woocommerce-Price-currencySymbol">$</span>{{order.subtotal}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="td" scope="row"
                                                                                            colspan="2"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Envío:</th>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">
                                                                                            <span
                                                                                                class="woocommerce-Price-amount amount">
                                                                                                @if(shipping.cost > 0)
                                                                                                <span
                                                                                                    class="woocommerce-Price-currencySymbol">$</span>{{shipping.cost}}
                                                                                                @else
                                                                                                Gratis
                                                                                                @end
                                                                                            </span>
                                                                                            <small
                                                                                                class="shipped_via">vía
                                                                                                {{shipping.method}}</small>

                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="td" scope="row"
                                                                                            colspan="2"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Método de pago:
                                                                                        </th>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">
                                                                                            {{order.payment_method}}
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="td" scope="row"
                                                                                            colspan="2"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left">Total:</th>
                                                                                        <td class="td"
                                                                                            style="color: #333; border: 1px solid #e5e5e5; vertical-align: middle; padding: 12px; text-align: left;"
                                                                                            align="left"><span
                                                                                                class="woocommerce-Price-amount amount"><span
                                                                                                    class="woocommerce-Price-currencySymbol">$</span>{{order.total}}</span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tfoot>
                                                                            </table>
                                                                        </div>

                                                                        <p style="line-height: 1.8; margin: 0;">
                                                                            <strong>Ver Boleta o Factura: </strong><a
                                                                                href="{{order.billing}}">{{order.billing}}</a>
                                                                        </p><br>
                                                                        <p style="line-height: 1.8; margin: 0;">
                                                                            Enhorabuena por la venta.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <table
                                                                        id="m_-7271839117633675762m_-8155277355934429657m_3776871904735322412addresses"
                                                                        cellspacing="0" cellpadding="0" border="0"
                                                                        style="width:100%;vertical-align:top;margin-bottom:40px;padding:0px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top" width="50%"
                                                                                    style="text-align:left;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;border:0px;padding:0px">
                                                                                    <h2
                                                                                        style="color:{{color}};display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0px 0px 18px;text-align:left">
                                                                                        Dirección de facturación</h2>

                                                                                    <address
                                                                                        style="padding:12px;color:rgb(99,99,99);border:1px solid rgb(229,229,229);height:126px">
                                                                                        ---<br>{{order.billing_address.first_name}}
                                                                                        {{order.billing_address.last_name}}<br>{{order.billing_address.street_1}}<br>{{order.billing_address.city}}
                                                                                        <br>{{order.billing_address.phone}}
                                                                                        <br><a
                                                                                            href="mailto:{{order.billing_address.email}}"
                                                                                            target="_blank">{{order.billing_address.email}}</a>
                                                                                    </address>
                                                                                    <div
                                                                                        style="padding:12px;color:rgb(99,99,99);border:1px solid rgb(229,229,229);height:136px">
                                                                                        <p style="margin:0px 0px 16px">
                                                                                            <strong>¿Boleta o factura?:
                                                                                            </strong>
                                                                                            {{order.document_type}}
                                                                                        </p>
                                                                                        @if(country == 'CHILE')

                                                                                        <p style="margin:0px 0px 16px">
                                                                                            <strong>Ingrese RUT:
                                                                                            </strong>
                                                                                            {{order.billing_address.zip}}

                                                                                        </p>
                                                                                        @else
                                                                                         <p style="margin:0px 0px 16px">
                                                                                            <strong>Documento de Identidad:
                                                                                            </strong>
                                                                                            {{order.billing_address.zip}}

                                                                                        </p>
                                                                                        @end

                                                                                        <p style="margin:0px 0px 16px">
                                                                                            <strong>Giro de la empresa:
                                                                                            </strong>
                                                                                            {{order.billing_address.street_2}}
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                                <td valign="top" width="50%"
                                                                                    style="text-align:left;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;padding:0px">
                                                                                    <h2
                                                                                        style="color:{{color}};display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:0px 0px 18px;text-align:left">
                                                                                        Dirección de envío</h2>

                                                                                    <address
                                                                                        style="padding:12px;color:rgb(99,99,99);border:1px solid rgb(229,229,229);height:126px">
                                                                                        {{client.name}}<br>{{shipping.street_1}}<br>{{shipping.city}}
                                                                                    </address>
                                                                                    <div
                                                                                        style="padding:12px;color:rgb(99,99,99);border:1px solid rgb(229,229,229);height:136px">
                                                                                        <p style="margin:0px 0px 16px">
                                                                                            <strong>Comentarios:
                                                                                            </strong>
                                                                                            {{order.staff_notes}}
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!-- End Content -->
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <!-- End Body -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td align="center" valign="top">
                    <!-- Footer -->
                    <table border="0" cellpadding="10" cellspacing="0" width="600" id="template_footer">
                        <tbody>
                            <tr>
                                <td valign="top" style="padding: 0; border-radius: 6px;">
                                    <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" valign="middle" id="credit" style="border-radius: 6px; border: 0; color: #666; font-family: 'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif; font-size: 12px;
                                                    line-height: 150%; text-align: center; padding: 24px 0;"
                                                    align="center">
                                                    <p style="line-height: 1.8; margin: 0;">{{marca}}, 2023.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- End Footer -->
                </td>
            </tr>
        </tbody>
    </table>

</body>
